.imageContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 110%;
    width: 100%;
}

#halfSky {
    display: inline;
}

#mobileSky {
    display: none;
}

@media screen and (max-width: 600px) {
    .imageContainer {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }
    #halfSky {
        display: none;
    }
    
    #mobileSky {
        display: inline;
    }

}