.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5vw;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}

.shellLogo {
    width: 100%;
    align-items: center;
}

.buttonsDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.buttonRow {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.registerButton {
    color: rgb(255, 255, 255); 
    font-size: 1.5vw; 
    line-height: 30px; 
    border-radius: 100px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: normal; 
    background-image: linear-gradient(to right, rgb(255, 72, 142) 0%, rgb(255, 127, 148) 100%);
    border-color: transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
    
.myButton:hover {
    background: #FF488E; }
.myButton:active {
    background: #FF7F94; }


.rowButton {
    color: rgb(255, 255, 255); 
    font-size: 1.5vw; 
    padding: 12px; 
    border-radius: 100px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: normal; 
    background-image: linear-gradient(to right, #24b2c0  0%, #0bd1d2 100%);
    border-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .infoContainer {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 10%;
    }

    .shellLogo {
        width: 100%;
    }

    h1, h2 {
        font-size: 4vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .registerButton {
        font-size: 4vw; 
    }

    .rowButton {
       
        font-size: 4vw; 
        
    }
    
  }