.sponsorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.sponsorLogoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.sponsorLogo.conch {
    width: 100%;
    height:auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.sponsorLogo.cone {
    width: 40%;
    padding: 12px;
}

.sponsorLogo.scallop {
    width: 33%;
    padding: 10px;
}

.sponsorLogo.sand_dollar {
    width: 25%;
    padding: 8px;
}

.sponsorLogo.in-kind {
    width: 25%;
    padding: 8px;
}

.bigLogo {
    max-width: 600px;
    align-self: center;
}

.title {
    font-family: 'canada-type-gibson',sans-serif;
    font-weight: 900;
    font-size: 1.5vw;
    display: inline-block;
    color: #24b2c0;
}

@media screen and (max-width: 600px) {
    .sponsorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0 0 0;
    }

    .sponsorLogoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sponsorLogo {
        height: 100px;
        width: 90% !important;
    }


    .title {
        font-size: 4vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}