.sponsorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorLogoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 90%;
    padding: 10px;
}

.sponsorLogo {
    display: flex;
    align-items: center;
    height: 200px;

}

.sponsorLogo.corporate {
    width: 33%;
}

.sponsorLogo.startup {
    width: 25%;

}

.sponsorLogo.partner {
    width: 18%;

}

h1 {
    font-family: 'canada-type-gibson',sans-serif;
    font-weight: 900;
    font-size: 1.5vw;
    display: inline-block;
    color: #24b2c0;
}

@media screen and (max-width: 600px) {
    .sponsorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sponsorLogoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sponsorLogo {
        height: 100px;
        width: 90% !important;
    }


    h1 {
        font-size: 4vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}