.pageHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./SVG/Blue_Background.svg);
  background-size: cover; 
}

.infoSection {
  margin: 2% 10%;
}

@media screen and (max-width: 600px) {
  .infoSection {
    margin: 24px 0 0 0;
  }
}