.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0 5% 15%;
  background-position: center;
  height: 80vh;
}

.right{
  width: 50%;
  height: 50%;
}

.left {
  width: 35%;
}

.mobileImage {
  display: none;
}

.sponsor {
  margin: 5% 10%;
  box-sizing:border-box;
}

@media screen and (max-width: 600px) {
  .container {
    flex-flow: column;
    margin: 0;
    height:auto;
    width: 100vw;
  }

  .right{
    display: none;
  }

  .left {
    width: 70vw;
  }

  .sponsor {
    width: 100vw;
    margin: 16px 0 0 0;
  }

  .mobileImage {
    display: inline;
  }
}