body, html {
    height: 100vh;
    background-image: linear-gradient(rgba(57,192,222,1) 0%, rgba(197,245,235,1) 90%);
    background-size: cover;
    margin:  0;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body, html {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        overflow-x: hidden;
        background-image: linear-gradient(rgba(57,192,222,1) 0%, rgba(197,245,235,1) 90%);
    }

}