.organizerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.organizerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.organizerLogo {
    width: 85%;
}

.organizerTitle {
    margin-bottom: 5%;

    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: clamp(1.25rem, 1.75vw, 2rem);
    font-style: italic;
    display: inline-block;
    color: white;
}

.organizerText {
    background-color: white;
    border-radius: 48px;
    padding: 36px;
    margin: 16px 0 0 0;
    width: 85%;

    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #24b2c0;
}

@media screen and (min-width: 768px) {
    .organizerContainer {
        margin: 5% 10%;
    }

    .organizerInfo {
        flex-direction: row;
    }

    .organizerLogo {
        width: 45%;
    }

    .organizerTitle {
        margin-bottom: 2%;
    }

    .organizerText {
        width: 50%;
    }
}
